<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> navbar }}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>About Page</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, vitae distinctio architecto
                    et facilis mollitia sequi nam consequatur quasi quae beatae in nostrum, fuga eos dolore quisquam
                    deserunt repellendus ratione!
                </p>
            </div>
            <div class="col-4">
                <img class="img-thumbnail img-fluid" src="/assets/img/perfil.jpg" alt="">
            </div>
        </div>
    </div>

    {{> footer }}
</body>

</html>