<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> navbar }}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>About Page</h1>
            </div>
            <div class="col-4">
                <img class="img-thumbnail img-fluid" src="/assets/img/perfil.jpg" alt="">
            </div>
        </div>
    </div>

    {{> footer }}
</body>

</html>